.main {
    display: flex;
    flex-direction: column;
}
.main .headbar{
    flex-grow: 0;
}
.main .nav-menu{
    flex-grow: 0;
}
.main .content-container {
    flex-grow: 1;
    display: flex;
    position: relative;
}
.module-hide{
    z-index: 0;
}
.module-show{
    z-index: 9;
}
.box {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
    /*表单模块*/
.form-wrap{
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}
.history-data-title{
    flex-shrink: 0;
}
label.text{
    font-weight: normal;
    color: #093857;
}

/*机场状态按钮颜色*/
.btn-group .selected{
    background-color: #578ebe ;
    border-color: #578ebe ;
    color: white ;
}

/*表单自动大写*/
.input-group .flight_name{
    text-transform: uppercase;
    padding: 6px 10px;
    text-align: left;
}
.fly_time{
    z-index: 5;
}
.form-control{
    padding: 6px 0px;
}
.form-inline input {
    text-align: center;
}
.echart-row {
    height:100%;
    position: relative;
    color: #555;
    margin-top: 0px;
    flex:1 1 auto;
    /*margin-bottom: 25px;*/
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.down_table{
    top:50%;
}
.h50 {
    width: 100%;
    position: absolute;
    height: 49%;
}
.ui-jqgrid-view{
    border: 1px solid #ddd;
}
.alert-container{
    margin-top: 1rem;
}
 .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
 .charts-wrap{
    position: relative;
}
.alert-row{
    position: absolute;
    left: 0;
    right: 0;
}
 .conditions {
    min-height: 40px;
    text-align: center;
}
.conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
 .conditions-content > span  {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.fly_time .conditions-content > span.conditions-start-data,
.fly_time .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.fly_time .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.fly_time .conditions-content > span.conditions-tip,
.fly_time .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}
.fly_time .form-group{
    margin-right: 10px;
}
.fly_time .cy-pad-hor-s{
    font-weight: normal;
    color: #093857;
}
.table-click {
    color: #1B548D;
    cursor: pointer;
    text-decoration: underline;
}
.ter_time .ui-jqgrid .ui-jqgrid-titlebar {
    font-weight: normal;
    min-height: 28px;
    padding: 4px 8px;
    position: relative;
    margin-right: 2px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.ter_time .ui-jqgrid .ui-jqgrid-caption {
    text-align: center !important;
}
.HeaderButton{
    display: none;
}
.ter_time .conditions-content > span.conditions-start-data,
.ter_time .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.ter_time .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.ter_time .conditions-content > span.conditions-tip,
.ter_time .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}
.ter_time .cy-pad-hor-s{
    font-weight: normal;
    color: #093857;
}
.uncorrect_flight .alert-row{
    top: 55px;
}