.in-time-table-container{
    top:55px;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.in-height-table-container{
    top:55px;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1740px){
    .in-time-table-container, .in-height-table-container{
        top:90px;
    }
}