.main {
    display: flex;
    flex-direction: column;
}

.main .content-container {
    flex: 1;
}

.main .content-container .fly_time, .fly_time .col-md-12, .fly_time .col-md-12 .box {
    height: 99%;
}

.box {
    display: flex;
    flex-direction: column;
}
.box .charts-wrap {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.box .charts-wrap .form-wrap {
    margin: 15px 0 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
    /*flex-wrap: wrap;*/
    /*flex: 1 1 auto;*/
}

.table-row {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.uncor_table {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #dddddd;
}

#fly_table .jqgrow td:nth-of-type(3) {
    cursor: pointer;
    color: #1B548D;
    text-decoration: underline;
}

.conditions {
    height: 40px;
    text-align: center;
    /*flex-wrap: wrap;*/
    /*display: flex;*/
    /*flex: 1 1 auto;*/
}

.conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: none;
}

.conditions-content > span {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}

.conditions-content > span.conditions-start-data,
.conditions-content > span.conditions-line {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.conditions-content > span.conditions-end-data {
    padding-left: 0;
}

.conditions-content > span.conditions-tip,
.conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 3px;
}
